<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg"
  name="@project.name@"
  abbrev="@project.abbrev@"
  version="@project.version@"
  spec="1.0">
    <title>@project.title@</title>
    <dependency processor="http://exist-db.org" semver-min="@project.processorversion@"/>
    <dependency package="http://exist-db.org/apps/shared"/>
    <dependency package="https://sade.textgrid.de/ns/assets" semver-min="2.0.0"/>
    <dependency package="http://www.functx.com"/>
    <dependency package="http://exist-db.org/apps/markdown"/>
</package>
