@import url('../../~assets/fonts/EB-Garamond/eb-garamond.css');

#content .teixslt {
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
}

body {
    margin: 0;
    padding-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
}

#content .stdfooter {
    display: none;
}

footer {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-style: inherit;
}
