<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <div class="container" id="content">
        <div data-template="multiviewer:show" data-template-id="docs/publish.md"/>
    </div>
</div>
