<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <div class="container">
        <div data-template="confluence:confluence" data-template-id="128652700" />
    </div>
</div>
