<ul class="nav navbar-nav" data-template="nav:navitems">
  <!-- config the output templates -->
  <!-- the output processing -->
    <li class="dropdown" data-template="templates:each" data-template-from="navitems" data-template-to="item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-template="nav:head">
            <b class="caret"/>
        </a>
        <ul class="dropdown-menu" data-template="nav:subitems">
            <li data-template="templates:each" data-template-from="subitems" data-template-to="subitem">
                <a href="#" data-template="nav:subitem"/>
            </li>
        </ul>
    </li>
</ul>
