<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <div data-template="fsearch:results">
        <div class="row faceted-search">
            <ul class="col-md-3 facet-area">
                <div data-template="fsearch:facet"/>
            </ul>
            <div class="col-md-9">
                <div>
                    <div>
                        <div>Sie haben nach <strong>
                                <span id="prevQuery">
                                    <span data-template="fsearch:return-query"/>
                                </span>
                            </strong> gesucht.</div>

                        <div class="search-input">
                            <form class="form-inline">
                                <div class="form-group mx-sm-3 mb-2" action="search.html">
                                    <label for="inputTerm" class="sr-only">Neue Suche</label>
                                    <input type="text" class="form-control" id="inputTerm" placeholder="Neue Suche" data-template="lang:translate" data-template-content="Search" name="q"/>
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">
                                    <i class="fas fa-search fa-lg" style="color:white"/>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div>
                      Zeige Treffer <span id="hitstart" data-template="fsearch:hitstart"/> - <span id="hitend" data-template="fsearch:hitend"/> von <span id="hitcount" data-template="fsearch:hitcount"/> Treffern
                    </div>
                    <div data-template="fsearch:pagination"></div>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Sortierung nach</label>
                            <div class="col-sm-3">
                                <select class="form-control input-sm">
                                    <option>Relevanz</option>
                                    <option>Titel</option>
                                    <option>Jahr</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control input-sm">
                                    <option>Aufsteigend</option>
                                    <option>Absteigend</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div data-template="templates:each" data-template-from="hits" data-template-to="hit" class="row">
                        <div class="col-md-10">
                            <div data-template="fsearch:result-xslt"/>
                            <p data-template="fsearch:result-kwic">KWIC matches</p>
                            <a href="#" data-template="fsearch:result-source">Source</a>
                            <!--                        <div data-template="fsearch:result-tble-links"/>-->
                            <hr/>
                        </div>
                        <div class="col-md-2">
                            <img data-template="fsearch:result-img"/>
                        </div>
                    </div>
                    <div>
                        Zeige Treffer <span id="hitstart" data-template="fsearch:hitstart"/> - <span id="hitend" data-template="fsearch:hitend"/> von <span id="hitcount" data-template="fsearch:hitcount"/> Treffern
                    </div>
                    <div data-template="fsearch:pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
		    $('.facet-minus').each(function() {
		        $(this).html($('&lt;span class="glyphicon glyphicon-minus-sign" /&gt;'));
		    });

		    $('.facet-plus').each(function() {
		        $(this).html($('&lt;span class="glyphicon glyphicon-plus-sign" /&gt;'));
		    });
      });
    </script>
</div>
